.green-row {
  background-color: #ddfade; 
  font-weight: bold; 
}
.blue-row {
  background-color: #c9f0fc; 
  font-weight: bold; 
}
.black-row {
  background-color: #acacac; 
  font-weight: bold; 
}
button{
  margin-left: 12px;
  margin-bottom: 10px;
}