<div class="container my-5">
  <div class='row'>
    <div class='col-4 ps-0'>
      <button class='btn btn-primary' (click)='employerAddEdit()'><fa-icon [icon]='faDownload'></fa-icon> Add employer</button>
    </div>
    <div class='col-4'>
      <h4 class='text-center'>Employers</h4>
    </div>
    <div class='col-4 pe-0'></div>
  </div>

  <table class="table table-bordered" *ngIf="employers && employers.length > 0">
    <thead>
      <tr>
        <th rowspan ="2" class="text-center">Nr.<br>Crt.</th>
        <th class="text-center">Name</th>
        <th class="text-center">Email</th>
        <th class="text-center">Phone</th>
        <th class="text-center">Department</th>
        <th rowspan ="2" colspan="2"></th>
        
      </tr>

      <tr key-nav>
        <th><input class="form-control" [(ngModel)]='filter.nameEmployer' (ngModelChange)='filterTable()' (keyup.esc)='clear("nameEmployer")'
          placeholder="Find..." name="name"></th>
        <th><input class="form-control" [(ngModel)]='filter.emailEmployer' (ngModelChange)='filterTable()'  (keyup.esc)='clear("emailEmployer")'
          placeholder="Find..." name="email"></th>
        <th><input class="form-control" [(ngModel)]='filter.phoneEmployer' (ngModelChange)='filterTable()' (keyup.esc)='clear("phoneEmployer")'
          placeholder="Find..." name="phone"></th>
        <th><input class="form-control" [(ngModel)]='filter.departmentEmployer' (ngModelChange)='filterTable()' (keyup.esc)='clear("departmentEmployer")'
          placeholder="Find..." name="department"></th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let employer of filteredEmployers; let i = index">
  
        <tr (dblclick)="employerAddEdit(employer.id)">
          <td class="text-center">{{ i + 1 }}</td>
          <td class="text-center">{{ employer.nameEmployer }}</td>
          <td class="text-center">{{ employer.emailEmployer }}</td>
          <td class="text-center">{{ employer.phoneEmployer }}</td>
          <td class="text-center">{{ employer.departmentEmployer }}</td>
          <td width='35px' class='text-center cursor-pointer' (click)='employerAddEdit(employer.id)' matTooltip='Edit'
            matTooltipPosition='left'><fa-icon class='text-primary' [icon]='faEdit'></fa-icon></td>
          <td width='20px' class='text-center cursor-pointer' (click)='delete(employer)' matTooltip='Delete'
            matTooltipPosition='left'><fa-icon class='text-danger' [icon]='faTrashAlt'></fa-icon></td>
        </tr>

        <tr>
          <td colspan="6" class="blue-row">Add employee:</td>
          <td width='35px' class='text-center cursor-pointer blue-row' (click)='addEmployee(employer)'  matTooltip='Add Employer'
            matTooltipPosition='left'><fa-icon [icon]='faCirclePlus'></fa-icon></td>
        </tr>
        <tr>
          <td colspan="7" class="black-row"></td>
        </tr>
      </ng-container>
    </tbody>
  </table>
  <p *ngIf ="!employers || employers.length <= 0">No Employees Found</p>
</div>